#doanvan1 {
    box-sizing: border-box;
    color: rgb(70, 70, 70);
    display: block;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    height: 112px;
    letter-spacing: -0.048px;
    line-height: 28px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    margin-bottom: 8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    width: 808px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.thanbai {
    box-sizing: border-box;
    color: rgb(70, 70, 70);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 28px;
    letter-spacing: -0.048px;
    line-height: 28px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    margin-bottom: 8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    /* width: 841px; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#khoi{
    margin: auto;
    width: 1000px;
}

img{
    max-width:1000px;
}